/* From Uiverse.io by alexruix */
.card {
  width: 18.875rem;
  height: 22.875rem;

  padding: 1.625rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--space-md);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-img {
  height: 200px;
  overflow: hidden;
  padding: 1.625rem;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.card-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product-price-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.product-btn {
  background-color: var(--clr-accent);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-price {
  color: var(--clr-accent);
}
.product-btn:hover {
  background-color: var(--clr-accent-300);
}
