.checkout {
  min-width: min-content;
  padding: 1.625rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--space-md);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: var(--clr-accent) 1px solid;
}
.product-wholePrice {
  margin-right: auto;

  display: flex;
  margin: 2rem;
}
.product-price {
  color: var(--clr-accent);
}
.product-content {
  flex: 1; /* take remaining space */
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.product-content input {
  text-decoration: none;
  border: none;
  background-color: var(--clr-accent-40);
  border-radius: 10%;
  outline: none;
}
.product-content input:focus {
  border: solid 1px red;
}
.product-imagewrapper {
  overflow: hidden;
  height: 10rem;
}

.product-imagewrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.product-quantity {
  display: flex;

  margin-top: auto;
  width: 3rem;
}
.CheckoutSum {
  background-color: var(--clr-accent-40);
  min-height: 300px;
  min-width: 500px;
  border-radius: 1rem;
}
