.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-md) var(--space-xl);

}
.navListWrapper ul {
  display: flex;
  justify-content: center;
    align-items: center;
  gap: 3rem;
}
.title-highlight {
    color: var(--clr-accent);
}

li {
  list-style: none;
}
